<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <title>Склады</title>
</head>
<body>
    <h2>Склады</h2>
    <form id='form-sklad' action="/sklads-api/" method="post" enctype="multipart/form-data">
        <div class="file_div">
            <span>Файл: </span>
            <input name="input_file" type="file" id="finp">
        </div>
        <button type="submit" id="send" disabled>Сгенерировать</button>
    </form>
    <script src="static/disbutton.js"></script>
</body>
</html>